<header>
  {{#link-to 'index' class='logo'}}
    Chairs<br/>
    For<br/>
    Home
  {{/link-to}}
</header>

<article id="store" {{bind-attr class="isList"}}>
  <section id="category">
    <h3>Mid-Century Chairs</h3>
    <div class="scrollable">
      <ul id="panel">
        <li>
          <ins {{bind-attr class="isList::selected"}} {{action 'showGrid'}}>{{material-design-icon name='view-module' size='2x'}}</ins>{{!--
          --}}<ins {{bind-attr class="isList:selected"}} {{action 'showList'}}>{{material-design-icon name='view-headline' size='2x'}}</ins>
        </li>
        <li><input type="search" placeholder="Filter chairs by name..." /></li>
      </ul>
      <ul id="products">
        {{#each product in model}}
          {{product-snippet product=product}}
        {{/each}}
      </ul>
    </div>
  </section>
  <section id="product">
    {{outlet}}
  </section>
  {{#link-to 'index' class='back'}}
    {{material-design-icon name='chevron-left' size='4x'}}
  {{/link-to}}
  <div id="overlay" {{action 'hideCart'}}></div>
</article>

<article id="cart">
  {{cart-details action='toggleCart'}}
</article>

