<header>
  {{#link-to 'index' class='logo'}}
    Chairs<br/>
    For<br/>
    Home
  {{/link-to}}
</header>

<article id="store">
  <section id="category">
    <h3>Mid-Century Chairs</h3>
    <ul id="products">
      {{#each product in model}}
        {{product-snippet product=product}}
      {{/each}}
    </ul>
  </section>
  <section id="product">
    {{outlet}}
  </section>
  {{#link-to 'index' class='back'}}
    {{material-design-icon name='chevron-left' size='4x'}}
  {{/link-to}}
  <div id="overlay" {{action 'hideCart'}}></div>
</article>

<article id="cart">
  {{cart-details action='toggleCart'}}
</article>

